{% extends "layout.html"%}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="from-control" name="symbolSell">
                    <option value="{{ symbol }}" selected> {{ symbol}} </option>
                {% for item in symbols %}
                    <option value="{{ item["symbol"] }}">{{ item["symbol"] }}, having {{ item["sharesTotal"] }} shares.</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input value="{{ shares }}" autocomplete="off" autofocus class="form-control" name="sharesSell" placeholder="Shares" type="text">
        </div>

        <button clss="btn btn-primary" type="submit">
            Sell
        </button>
    </form>

{% endblock %}